footer {
    height: 5em;
    background: orange;
    position: relative;
    width: 100%;
    text-align: center;
}


.footer--text {
    background: orange !important;
    padding-top: 1em;
    font-family:
        sans;
    font-size: .8em !important;
    color:
        dark;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.footer--text a {
    font-family: sans;
    font-size: .8em !important;
    color: #337ab7 !important;
    letter-spacing: 2px;
    text-transform: uppercase;

}